<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content=ie=edge>
    <title>New password Email</title>
</head>

<body>
    <h2>Bonjour {{civility}} {{firstName}} {{lastName }}, </h2>

    <p> Bienvenue à Essor Education. Voici votre mot de passe d'accès: <strong>
            {{password}} </strong> Vous pouvez changer votre mot de passe après l'authentification. </p>
    <p>
        Cliquez sur le lien ci-dessous pour s'authentifier.
    </p>
    <a href='http://{{link}}'>
        <button
            style="background-color: cadetblue; padding: 0.5em; border-radius : 1em;color:white;border:1px rgb(56, 124, 126) solid ;">
            s'authentifier
        </button>
    </a>
    <p>Cordialement,</p>
    <p>Essor Education.</p>
</body>

</html>